<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css">
    {% block head %}{% endblock %}
  </head>

  <body>
    <!-- 网页导航区域 -->
    <header>
      <nav>
        <span class="logo"><img src="/images/logo.png" alt="小舟报告"></span>
        <span class="nav-link">
          {% for link in navLinks %}
          {% if key === link.key %}
          <a href="{{link.href}}" class="active">{{link.label}}</a>
          {% else %}
          <a href="{{link.href}}">{{link.label}}</a>
          {% endif %}
          {% endfor %}
        </span>
        <span class="login">
          {% if username %}
          您好，{{username}}！
          <a href="/logout">注销</a>
          {% else %}
          <a href="/login">登录</a>
          {% endif %}
        </span>
      </nav>
    </header>
    <!-- 网页主体内容区域 -->
    {% block content %}{% endblock %}

    <footer>
      ©2019 冀ICP备 18023262号-4
    </footer>
  </body>

</html>